{% extends "FlappyClone/base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static "FlappyClone/css/game.css" %}">
{% endblock head %}
{% block content %}
	{% if debug %}
	<script>"use strict";</script>
	<script src="{% static "FlappyClone/src/sizing.js" %}"></script>
	<script src="{% static "FlappyClone/src/fontfaceonload.js" %}"></script>
	<script src="{% static "FlappyClone/src/intersection.js" %}"></script>
	<script src="{% static "FlappyClone/src/cookie.js" %}"></script>
	<script src="{% static "FlappyClone/src/score.js" %}"></script>
	<script src="{% static "FlappyClone/src/button.js" %}"></script>
	<script src="{% static "FlappyClone/src/rect.js" %}"></script>
	<script src="{% static "FlappyClone/src/draw.js" %}"></script>
	<script src="{% static "FlappyClone/src/pipe.js" %}"></script>
	<script src="{% static "FlappyClone/src/bird.js" %}"></script>
	<script src="{% static "FlappyClone/src/game.js" %}"></script>
	{% else %}
	<script src="{% static "FlappyClone/js/game.js" %}"></script>
	{% endif %}
	
	<div id="game-container">
		<div id="stats-container" style="visibility: hidden;"><div id="stats"></div></div>
		<input id="username-entry" style="visibility: hidden;" type="text"/>
		<canvas id="canvas" width="500" height="800"></canvas>
	</div>
{% endblock content %}
