{% extends "FlappyClone/base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'FlappyClone/css/game.css' %}">
	
	{% if debug %}
	<script>"use strict";</script>
	<script src="{% static 'FlappyClone/src/common/validation.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/sizing.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/fontfaceonload.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/intersection.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/cookie.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/score.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/button.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/rect.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/draw.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/pipe.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/bird.js' %}"></script>
	<script src="{% static 'FlappyClone/src/game/game.js' %}"></script>
	{% else %}
	<script src="{% static 'FlappyClone/js/game.js' %}"></script>
	{% endif %}
{% endblock head %}
{% block content %}
	<div id="game-container">
		<div id="stats-container" style="visibility: hidden;"><div id="stats"></div></div>
		<input id="username-entry" style="visibility: hidden;" type="text"/>
		<canvas id="canvas" width="500" height="800"></canvas>
	</div>
{% endblock content %}
