{% extends "FlappyClone/base.html" %}
{% load static %}

{% block favicon %}
	<link id="icon32" rel="icon" type="image/png" href="{% static "FlappyClone/favicon-32x32.png" %}" sizes="32x32">
	<link id="icon16" rel="icon" type="image/png" href="{% static "FlappyClone/favicon-16x16.png" %}" sizes="16x16">
{% endblock favicon %}

{% block head %}
	<link rel="stylesheet" href="{% static "FlappyClone/css/game.css" %}">
	
	<!-- Resizes viewport to look good on mobile -->
	<!-- http://stackoverflow.com/questions/11689353/disable-pinch-zoom-on-mobile-web -->
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
	<meta name="HandheldFriendly" content="true"/>
{% endblock head %}

{% block content %}
	{% if debug %}
	<script>"use strict";</script>
	<script src="{% static "FlappyClone/src/sizing.js" %}"></script>
	<script src="{% static "FlappyClone/src/fontfaceonload.js" %}"></script>
	<script src="{% static "FlappyClone/src/intersection.js" %}"></script>
	<script src="{% static "FlappyClone/src/cookie.js" %}"></script>
	<script src="{% static "FlappyClone/src/score.js" %}"></script>
	<script src="{% static "FlappyClone/src/button.js" %}"></script>
	<script src="{% static "FlappyClone/src/rect.js" %}"></script>
	<script src="{% static "FlappyClone/src/draw.js" %}"></script>
	<script src="{% static "FlappyClone/src/pipe.js" %}"></script>
	<script src="{% static "FlappyClone/src/bird.js" %}"></script>
	<script src="{% static "FlappyClone/src/game.js" %}"></script>
	{% else %}
	<script src="{% static "FlappyClone/js/game.js" %}"></script>
	{% endif %}
	
	<div id="game-container">
		<div id="stats-container" style="visibility: hidden;"><div id="stats"></div></div>
		<input id="username-entry" style="visibility: hidden;" type="text"/>
		<canvas id="canvas" width="500" height="800"></canvas>
	</div>
{% endblock content %}
