{% extends "FlappyClone/base.html" %}
{% load static %}
{% block head %}
	<script src="{% static 'FlappyClone/src/common/validation.js' %}"></script>
	<script src="{% static 'FlappyClone/src/login.js' %}"></script>
	
	<link rel="stylesheet" href="{% static 'FlappyClone/css/login.css' %}">
	<style>
		#content {
			background: #70C4CE url("{% static 'FlappyClone/img/backgroundLogin.png' %}") left bottom repeat-x;
		}
	</style>
{% endblock head %}
{% block content %}
<div>
	<div id="login" class="clearfix">
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="login" />
			<div><h1>Log in</h1></div>
			<div>Username: <input type="text" name="username" maxlength="{{ max_name_length|safe }}"/></div>
			<div>Password: <input type="password" name="password" /></div>
			<div><input type="submit" value="Log in"/></div>
		</form>
	</div>
	<div id="seperator-container"><div class="seperator"><div></div></div></div>
	<div id="signup" class="clearfix">
		<form method="post">
			{% csrf_token %}
			<input type="hidden" name="action" value="signup" />
			<div><h1>Sign up</h1></div>
			<div>Username: <input type="text" name="username" maxlength="{{ max_name_length|safe }}"/></div>
			<div>Email: <input type="text" name="email"/></div>
			<div>Confirm Email: <input type="text" name="email-confirm"/></div>
			<div>Password: <input type="password" name="password" /></div>
			<div>Confirm Password: <input type="password" name="password-confirm" /></div>
			<div><input type="submit" value="Sign up" /></div>
		</form>
	</div>
</div>
{% endblock content %}