
form:not(.was-validated) input#username,
form.was-validated input#username:not(:invalid) {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

input#username~.invalid-feedback {
	margin-bottom: .75rem;
}

form:not(.was-validated) input#password,
form.was-validated input#password:not(:invalid) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
