
form:not(.was-validated) input#email,
form.was-validated input#email:not(:invalid) {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

input#email~.invalid-feedback {
	margin-bottom: .75rem;
}

form:not(.was-validated) input#email2,
form.was-validated input#email2:not(:invalid) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#username~.spinner-border {
	display: none;
	top: calc((1.5em + .75rem + 2px) / 2 - (.75em + .375rem)/2);
	height: calc(.75em + .375rem);
	width: calc(.75em + .375rem);
	right: calc(.375em + .1875rem);
}

#username.loading~.spinner-border {
	display: inline-block;
}

.form-control.loading {
	border-color: #2196F3;
}

.form-control.loading:focus {
	border-color: #2196F3;
	box-shadow: 0 0 0 0.2rem rgba(38, 152, 243, 0.21);
}
