[submodule "django/FlappyClone"]
	path = django/FlappyClone
	url = https://github.com/trolleyman/FlappyClone
[submodule ".\\django\\vis"]
	path = .\\django\\vis
	url = https://github.com/trolleyman/linc
