
# Redirects -> https://callumgtolley.uk
https://trolleyman.org, https://www.trolleyman.org, https://www.callumgtolley.uk {
	redir / https://callumgtolley.uk{uri}
}

https://callumgtolley.uk {
	root /django/static
	proxy / localhost:{$DJANGO_PORT} {
		except /static
		transparent
	}
}
