
# Redirects
http://callumgtolley.uk,
http://138.68.156.104, http://trolleyman.org, http://www.trolleyman.org, http://www.callumgtolley.uk {
#	redir / http://callumgtolley.uk{uri}
	redir / https://callumgtolley.uk{uri}
}

https://138.68.156.104, https://trolleyman.org, https://www.trolleyman.org, https://www.callumgtolley.uk {
	redir / https://callumgtolley.uk{uri}
}

#http://callumgtolley.uk {
https://callumgtolley.uk {
	root /opt/django
	proxy / localhost:{$DJANGO_PORT} {
		except /static
		transparent
	}
}

