<meta name="banner-bg-url" content="{{ banner_img_url }}">
<style>
  #banner {
    position: relative;
  }
  
  #banner-bg {
    background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    background-size: cover;
    
    opacity: 0;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  #banner-bg.loaded {
    background-image: url("{{ banner_img_url }}");
    
    opacity: 1;
    
    -webkit-transition:
      opacity 0.8s ease;
    -moz-transition:
      opacity 0.8s ease;
    -o-transition:
      opacity 0.8s ease;
    -ms-transition:
      opacity 0.8s ease;
    transition:
      opacity 0.8s ease;
  }
  
  #banner-overlay {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.38), rgba(46, 49, 65, 0.54));
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
<script charset="utf-8" type="text/javascript">
  window.addEventListener('load', function() {
    var url = document.querySelector('meta[name="banner-bg-url"]').content;
    
    var img = new Image();
    img.onload = function() {
      setTimeout(function() {
        document.querySelector('#banner-bg').classList.add('loaded');
      }, 50);
    };
    img.src = url;
  });
</script>