<meta name="banner-bg-url" content="{{ banner_img_url }}">
<style>
  #banner {
    position: relative;
    
    background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
    
    -webkit-transition:
      background-image 0.8s ease,
      background-position 0s linear;
    -moz-transition:
      background-image 0.8s ease,
      background-position 0s linear;
    -o-transition:
      background-image 0.8s ease,
      background-position 0s linear;
    -ms-transition:
      background-image 0.8s ease,
      background-position 0s linear;
    transition:
      background-image 0.8s ease,
      background-position 0s linear;
  }
  
  #banner.loaded {
    background-image: url("{{ banner_img_url }}");
  }
  
  #banner-overlay {
    background-image: linear-gradient(to top, rgba(46, 49, 65, 0.38), rgba(46, 49, 65, 0.54));
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
<script charset="utf-8" type="text/javascript">
  window.addEventListener('load', function() {
    var url = document.querySelector('meta[name="banner-bg-url"]').content;
    
    var img = new Image();
    img.onload = function() {
      document.querySelector('#banner').className = 'loaded';
    };
    img.src = url;
  });
</script>