{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    
    <title>{% block title %}Callum Tolley{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{% static 'homepage/css/normalize.css' %}">
    <!--[if lte IE 8]><script src="{% static 'homepage/js/ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'homepage/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/main-mod.css' %}">
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'homepage/css/ie9.css' %}"><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'homepage/css/ie8.css' %}"><![endif]-->
    
    <meta name="static" content="{% static 'homepage/' %}">
    
    {% block head_base %}
      <link rel="stylesheet" href="{% static 'homepage/css/index.css' %}">
    {% endblock %}
    
    {% block head %}
    {% endblock %}
    
    {% block banner_style %}
      {% include 'homepage/_banner_img_style.html' with banner_img_url=bg_url %}
    {% endblock %}
  </head>
  <body class="is-loading">
    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <ul>
              <li><h1><a href="/">Callum Tolley</a></h1></li>
              {% block header_content %}
                <li><a href="{% static 'homepage/cv.pdf' %}" target="_blank">CV</a></li>
                <li><a href="#contact">Contact</a></li>
              {% endblock %}
            </ul>
          </header>

        <!-- Banner -->
          <section id="banner">
            <div class="inner">
              {% block banner_content %}
                <div class="logo"><span class="icon fa-code"></span></div>
                <h2 class="clearfix">Callum&nbsp;Tolley
                  <a class="heading-left" target="_blank" href="{% static 'homepage/cv.pdf' %}">
                    CV
                  </a>
                  <span class="heading-right">
                    <a href="https://github.com/trolleyman"><span class="fa fa-github"></span></a>
                    <a href="https://facebook.com/callum.tolley.7"><span class="fa fa-facebook"></span></a>
                    <a href="https://www.linkedin.com/in/callum-tolley/"><span class="fa fa-linkedin"></span></a>
                    <a href="mailto:callumgtolley@gmail.com"><span class="fa fa-envelope"></span></a>
                  </span>
                </h2>
                <p>Software Developer<span class="spacer"></span>Student<span class="spacer"></span>Hiker</p>
              {% endblock %}
            </div>
          </section>

        <!-- Wrapper -->
          <section id="wrapper">
            {% block main_content %}
              <!-- LINC -->
                <section class="wrapper spotlight style1 linc">
                  <div class="inner">
                    <a href="projects/linc" class="image"><img src="{% static 'homepage/images/projects/linc/logo.png' %}" alt=""></a>
                    <div class="content">
                      <h2 class="major">LINC Graph</h2>
                      <p>A versatile social network visualization tool, developed with <a href="https://www.millenniumpoint.org.uk/">Millennium Point.</a></p>
                      <div class="used">Languages: HTML, JavaScript, CSS, SQL, Python</div>
                      <div class="used">Frameworks: Three.js, D3.js, Django</div>
                      <a href="projects/linc" class="special">Learn more</a>
                    </div>
                  </div>
                </section>

              <!-- Flappy Clone -->
                <section class="wrapper alt spotlight style2 flappy">
                  <div class="inner">
                    <a href="projects/flappy" class="image"><img src="{% static 'homepage/images/projects/flappy/logo.png' %}" alt=""></a>
                    <div class="content">
                      <h2 class="major">Flappy Clone</h2>
                      <p>
                        Yet another Flappy Bird clone.
                      </p>
                      <div class="used">Languages: HTML, JavaScript, CSS, SQL, Python</div>
                      <div class="used">Frameworks: HTML5 Canvas API, Django</div>
                      <a href="projects/flappy" class="special">Learn more</a>
                    </div>
                  </div>
                </section>

              <!-- Zucchini -->
                <section class="wrapper spotlight style3 zucchini">
                  <div class="inner">
                    <a href="#" class="image"><img src="{% static 'homepage/images/projects/zucchini/logo.png' %}" alt=""></a>
                    <div class="content">
                      <h2 class="major">Team Project: Zucchini</h2>
                      <p>
                        TODO
                      </p>
                      <div class="used">TODO</div>
                      <a href="projects/zucchini" class="special">Learn more</a>
                    </div>
                  </div>
                </section>
              
              <!-- Robot Programming -->
                <section class="wrapper alt spotlight style4 robot">
                  <div class="inner">
                    <a href="#" class="image"><img src="{% static 'homepage/images/projects/robot/casterbot.jpg' %}" alt=""></a>
                    <div class="content">
                      <h2 class="major">Team Project: Robot Programming</h2>
                      <p>
                        TODO
                      </p>
                      <div class="used">TODO</div>
                      <a href="projects/robot" class="special">Learn more</a>
                    </div>
                  </div>
                </section>
              
              <!-- Portal 2 -->
                <section class="wrapper spotlight style5 portal">
                  <div class="inner">
                    <a href="#" class="image"><img src="{% static 'homepage/images/projects/portal/screenshot.jpg' %}" alt=""></a>
                    <div class="content">
                      <h2 class="major">Portal 2</h2>
                      <p>
                        A redo of my first Portal project, an shameless attempt to copy my favourite video game at the time, Portal. Guess that makes this a redo of a redo.
                      </p>
                      <div class="used">Rust and OpenGL</div>
                      <a href="projects/portal" class="special">Learn more</a>
                    </div>
                  </div>
                </section>
              
              <!-- k-means -->
                <section class="wrapper alt spotlight style6 k-means">
                  <div class="inner">
                    <a href="#" class="image"><img src="{% static 'homepage/images/projects/k-means/alabama-hills-ca.jpg' %}" alt=""></a>
                    <div class="content">
                      <h2 class="major">k-means</h2>
                      <p>
                        Using the k-means algorithm to create pretty pictures.
                      </p>
                      <div class="used">Used Rust</div>
                      <a href="projects/k-means" class="special">Learn more</a>
                    </div>
                  </div>
                </section>
              
              <!-- Equator -->
                <section class="wrapper spotlight style5 equator">
                  <div class="inner">
                    <a href="#" class="image"><img src="{% static 'homepage/images/projects/equator/screenshot.jpg' %}" alt=""></a>
                    <div class="content">
                      <h2 class="major">Equator</h2>
                      <p>
                        An expression editor and evaluator that allows easy visualization and processing of mathematical expressions.
                      </p>
                      <div class="used">Rust using GTK+</div>
                      <a href="projects/equator" class="special">Learn more</a>
                    </div>
                  </div>
                </section>
            {% endblock %}
          </section>

        <!-- Footer -->
          <section id="footer">
            <div class="inner">
              {% block footer_content %}
                <div id="contact">
                  <h2 class="major">Contact Details</h2>
                  <p>If you have any queries relating to jobs, my details are below.</p>
                  <ul class="contact">
                    <li class="fa-home">
                      109 Poole Crescent<br>
                      Harborne<br>
                      Birmingham<br>
                      B17 0PE
                    </li>
                    <li class="fa-phone">+44 7713 515181</li>
                    <li class="fa-envelope"><a href="mailto:callumgtolley@gmail.com">callumgtolley@gmail.com</a></li>
                  </ul>
                </div>
              {% endblock %}
              <ul class="copyright">
                <li>&copy; Callum Tolley</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
              </ul>
            </div>
          </section>
      </div>

    <!-- Scripts -->
      <script src="{% static 'homepage/js/skel.min.js' %}"></script>
      <script src="{% static 'homepage/js/jquery.min.js' %}"></script>
      <script src="{% static 'homepage/js/jquery.scrollex.min.js' %}"></script>
      <script src="{% static 'homepage/js/util.js' %}"></script>
      <!--[if lte IE 8]><script src="{% static 'homepage/js/ie/respond.min.js' %}"></script><![endif]-->
      <script src="{% static 'homepage/js/main.js' %}"></script>
      {% block scripts %}
        <script src="{% static 'homepage/js/index.js' %}"></script>
      {% endblock %}
  </body>
</html>
