
.spacer {
	border-left: solid 2px rgba(255, 255, 255, 0.125);
	width: 1px;
	margin: 0 18px;
}

.heading-left {
	margin-left: 7px;
	font-size: 80%;
}

.heading-right, .heading-left {
	border-bottom: none;
	color: rgb(191, 191, 191);
}

.heading-right {
	display: inline-block;
}

@media screen and (min-width: 475px) {
	.heading-right {
		float: right;
	}
}

.heading-right a {
	border-bottom: none;
	margin-left: 7px;
}

@media screen and (max-width: 530px) {
	.heading-right a {
		margin-left: 0px;
	}
}

.wrapper.spotlight .inner .used {
	font-style: italic;
}

.wrapper.spotlight .inner p {
	margin-bottom: 0.5em;
}

.scroll-marker {
	height: 0;
	width: 100%;
	transform: translateY(-100px);
}
