
#demo1, #demo2, #demo3 {
	width: auto;
	height: 15.1em;
}

@media screen and (max-width: 736px) {
	#demo1, #demo2, #demo3 {
		height: 12.4em;
	}
}

@media screen and (max-width: 450px) {
	#demo1, #demo2, #demo3 {
		height: 9.2em;
	}
}
