
# HTTPS redirects
https://trolleyman.org, https://www.trolleyman.org, https://www.callumgtolley.uk {
	redir / https://callumgtolley.uk{uri}
}

https://callumgtolley.uk {
	root /var/www/callumgtolley.uk/
	proxy / localhost:{$DJANGO_PORT} {
		except /static
		except /tanks
		transparent
	}
	proxy /tanks localhost:{$ROCKET_PORT} {
		transparent
	}
}
