html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}
#game-container {
	position: relative;
}
#stats-container {
	position: absolute;
	z-index: 1;
	margin: 7px 7px 7px 7px;
	right: 0;
}
#stats {
	font-family: arial; line-height: 1.2;
	background-color: rgba(0, 0, 0, 0.7); color: white;
	padding: 7px 7px 7px 7px;
	width: 120px;
}
#canvas {
	position: absolute;
	display: block;
}
@font-face {
	font-family: FlappyFont;
	src: url(../font/flappy.ttf);
}
#username-entry {
	position: absolute;
	z-index: 2;
	margin: 0px;
	padding: 2px;
	font-family: FlappyFont;
	font-size: 30px;
	text-align: right;
	border: 1.5px solid black;
	background: transparent;
	text-shadow: 3px 3px 0px black, -3px 3px 0px black, 3px -3px 0px black, -3px -3px 0px black;
	caret-color: black;
}
#username-entry:focus {
	border: 1.5px solid gold;
}
