
#content div, #content input[type=submit] {
	font-family: FlappyFont;
	color: white;
	text-shadow: 1px 1px 0px black, -1px 1px 0px black, 1px -1px 0px black, -1px -1px 0px black;
}

input[type=submit] {
	width: 80px;
	height: 25px;
	float: right;
	margin-bottom: 10px;
}

#content h1 {
	font-size: 32px;
	text-align: center;
	color: gold;
	text-shadow: 2px 2px 0px black, -2px 2px 0px black, 2px -2px 0px black, -2px -2px 0px black;
}

.seperator {
	height: 0px;
	width: 0px;
	padding: 0px;
	margin: 10px;
}
.seperator > * {
	border-left: 1px solid gray;
	border-top : 1px solid gray;
}

form div {
	margin: 10px;
}

input[type=text], input[type=password] {
	width: 150px;
	margin-left: 15px;
	float: right;
}
.invalid {
	border-color: red;
}
.invalid:focus {
	border-color: red;
}

/* Desktops */
@media only screen and (min-width: 661px) {
	#content {
		min-height: 320px;
	}

	#content > div {
		padding-top: 25px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}
	
	.seperator {
		margin: 10px;
		height: 150px;
	}
	.seperator > * {
		height: 100%;
	}
	
	#login {
		margin-top: auto;
		margin-bottom: auto;
	}
	
	#seperator-container {
		margin-top: auto;
		margin-bottom: auto;
	}
}

/* Mobiles */
@media only screen and (max-width: 660px) {
	#content {
		min-height: 550px;
		min-width: 350px;
	}

	#content > div {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}
	
	#content > div > div {
		display: inline-block;
	}
	
	.seperator {
		margin: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
	}
	.seperator > * {
		width: 100%;
	}
	
	#login {
		margin-top: 25px;
	}

	#login, #signup {
		margin-left: auto;
		margin-right: auto;
	}
}
