
/* Header */
#header ul {
	list-style: none;
	padding: 0;
}

#header ul li {
	display: inline-block;
	padding: 0;
}

#header ul li:not(:first-child) {
	margin-left: 1em;
	padding-left: 1em;
}

#header a:hover {
	color: #fff !important;
}

#header h1 {
	font-size: 109%;
}

#header ul li:not(:first-child) a {
	border-bottom: none;
	color: rgb(191, 191, 191);
}

/* Banner */
#banner {
	background-size: auto, cover;
}

@media screen and (min-width: 1281px) {
	#banner {
		margin-bottom: -6.5em;
	}
}

/* Clearfix */
.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

/* Reset border radius */
.wrapper.spotlight .image,
.wrapper.spotlight .image img {
	border-radius: 0;
}

.wrapper.spotlight .inner {
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Links css */
.wrapper.spotlight .inner ul {
	list-style: none;
	padding-left: 0;
}

.wrapper.spotlight .inner ul li {
	padding-left: 0;
}

@media screen and (min-width: 736px) {
	.wrapper.spotlight .inner ul li {
		display: inline-block;
	}
	.wrapper.spotlight .inner ul li:not(:first-child) {
		margin-left: 1.3em;
	}
}
