
#banner {
	background-size: auto, cover;
}

@media screen and (min-width: 1281px) {
	#banner {
		margin-bottom: -6.5em;
	}
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

/* Reset border radius */
.wrapper.spotlight .image,
.wrapper.spotlight .image img {
	border-radius: 0;
}

.wrapper.spotlight .inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
