{% extends "FlappyClone/base.html" %}
{% load static %}
{% block head %}
	{% include "FlappyClone/flappyBackgroundHead.html" %}
	<link rel="stylesheet" href="{% static 'FlappyClone/css/login.css' %}">
{% endblock head %}
{% block content %}
<div>
	{% include "FlappyClone/form.html" with action="login" action_name="Log in" form=login_form %}
	<div id="seperator-container"><div class="seperator"><div></div></div></div>
	{% include "FlappyClone/form.html" with action="signup" action_name="Sign up" form=signup_form %}
	</div>
</div>
{% endblock content %}