{% extends 'homepage/index.html' %}
{% load static %}
{% load compress %}

{% block title %}
Callum Tolley
{% endblock %}

{% block head_base %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'homepage/css/projects/_base.css' %}">
  {% endcompress %}
{% endblock %}

{% block head %}
{% endblock %}

{% block banner_style %}
{% endblock %}

{% block header_pre_content %}
  {% include 'homepage/projects/_back.html' with href='..' %}
{% endblock %}

{% block header_content %}
{% endblock %}

{% block banner_content %}
{% endblock %}

{% block main_content %}
{% endblock %}

{% block footer_content %}
{% endblock %}

{% block scripts %}
{% endblock %}
