{% extends 'homepage/projects/_base.html' %}
{% load static %}

{% block title %}
  Callum Tolley - Flappy Clone
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'homepage/css/projects/flappy.css' %}">
{% endblock %}

{% block banner_style %}
  {% static 'homepage/images/projects/flappy/bg.png' as banner_img_url %}
  {% include 'homepage/_banner_img_style.html' %}
{% endblock %}

{% block banner_content %}
  <div class="logo"><img src="{% static 'homepage/images/projects/flappy/logo.png' %}"></img></div>
  <h2>Flappy Clone</h2>
{% endblock %}

{% block main_content %}
  <section class="wrapper spotlight style1">
    <div class="inner">
      <div class="content">
        <p>
          <img id="demo1" class="right" src="{% static 'homepage/images/projects/flappy/demo1.jpg' %}">
          I developed Flappy Clone in my spare time over the 2016 Christmas holidays. There was a job advertised near where I live that wanted a web developer. Since I had no experience developing websites, and no imagination, I got the idea to produce a clone of the Flappy Bird game that was popular a while ago.
        </p><p>
          <img id="demo2" class="left" src="{% static 'homepage/images/projects/flappy/demo2.jpg' %}">
          Although I didn't end up getting the job, I believe that I learnt a lot about web development, and this helped me in my future project,
          <a href="linc">LINC</a>.
        </p><p>
          The game is fully responsive, and can be played on any platform that can access a web browser. Most of the assets are stolen from the original game.
        </p><p>
          For the front end I used the HTML5 Canvas API. For the back end I used the wonderful framework <a href="https://www.djangoproject.com/">Django</a> to interface with the database.
        </p>
        <ul class="links">
          <li><a href="https://github.com/trolleyman/FlappyClone" class="special">Github</a></li>
          <li><a href="/FlappyClone" class="special">Demo</a></li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
